[submodule "ros_ws/src/depthai_publisher"]
	path = ros_ws/src/depthai_publisher
	url = git@github.com:jessbender/depthai_publisher.git
[submodule "ros_ws/src/breadcrumb"]
	path = ros_ws/src/breadcrumb
	url = git@github.com:jessbender/breadcrumb.git
[submodule "ros_ws/src/qutas_lab_450"]
	path = ros_ws/src/qutas_lab_450
	url = git@github.com:jessbender/qutas_lab_450.git
[submodule "ros_ws/src/spar"]
	path = ros_ws/src/spar
	url = git@github.com:jessbender/spar.git

[submodule "ros_ws/src/egh450_target_solvepnp"]
	path = ros_ws/src/egh450_target_solvepnp
	url = git@github.com:jessbender/egh450_target_solvepnp.git
